<?xml version="1.0" encoding="UTF-8"?>
    <web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
         <servlet-name>TypeController</servlet-name>
         <servlet-class>com.client.TypeController</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.client.UserController</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ItemController</servlet-name>
        <servlet-class>com.client.ItemController</servlet-class>
    </servlet>
       <servlet>
         <servlet-name>AssignController</servlet-name>
         <servlet-class>com.client.AssignController</servlet-class>
    </servlet>
     <servlet>
         <servlet-name>AccountController</servlet-name>
         <servlet-class>com.client.AccountController</servlet-class>
    </servlet>
      <servlet>
         <servlet-name>ProccesServlet</servlet-name>
         <servlet-class>com.inth.ProccesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TypeController</servlet-name>
        <url-pattern>/TypeController</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemController</servlet-name>
        <url-pattern>/ItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignController</servlet-name>
        <url-pattern>/AssignController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/AccountController</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ProccesServlet</servlet-name>
        <url-pattern>/ProccesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
         <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>

